---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
import CallToAction from "../../components/CallToAction.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/travel/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="Tink Life | 灵感设计 | Rico "
	description = 'RICO & TINK: DIARY LIFE ,移动端网站。自行开发的项目，独立负责所有原型、设计和开发工作，以及上线和维护。',
	keywords = 'RICO & TINK: DIARY LIFE, 生活记录',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							Rico & Tink: Diary Life
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<h3 class="post-title">技术工具选择：Figma & Vue</h3>
							<p class="post-desc">
								移动端网站。自行开发的项目，独立负责所有原型、设计和开发工作，以及上线和维护。
							</p>
						</div>
						<div class="col-1a">
							<p>
								<div class="btn">
									<CallToAction href="https://travellife.zeabur.app/" target="_blank">
										访问站点 
									</CallToAction>
								</div>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
